body {
	margin-top: 0px;
	padding-top: 0px;
	color: #518;
}

#top_tab {
	border: solid 2px #518;
	border-top: none;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #ccc;
	color: #518;
	margin-left: 25px;
	padding: 5px;
	font-size: 48px;
	font-family: "Helvetica", sans-serif;
}

.header:hover {
	border-color: black;
}

.header {
	font-size: 20px;
	text-align: left;
}

.cube_section {
	margin-top: 2px;
	border: solid 2px #518;
	border-radius: 10px;
	background-clip: border-box;
	padding: 4px;
	text-align: right;
	background-repeat: no-repeat;
}

.flow {
	display: inline-block;
	width: 200px;
}

.cardRule {
	display: inline-block;
	width: 111px;
	height: 155px;
	border:2px solid #518;
	margin: 2px;
	margin-top: 4px;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
}

.cardText {
	color: black;
	font-size: 7pt;
}

#top {
	margin-bottom: 25px;
}

section {
	/*border: solid 1px #ccc;
	border-top: solid 8px #ccc;*/
}

.inp_sty {
	border:solid 2px #ccc;
	font-size: 14pt;
	padding: 2px;
	color: #000;
	border-radius: 6px;
	width: 100%;
}

.infield {
	opacity:1;
	font-size:14pt !important;
	color: #999;
	text-align: right;
	width: 104%;
	display:block;
	position:absolute;
	top:5px;
	left:-10px;
}

#sets {
	display: table-cell;
	width: 250px;
}

#set_editor {
	display: table-cell;
	width: 400px;
}

#cards {
	display: table-cell;
	width: 250px;
}

#card_editor {
	display: table-cell;
	width: 400px;
}

#sets_top {
	border: 1px solid black;
}

#cards_top {
	border: 1px solid black;
}

.se_down { display:none; }
.se_up { display:inline; }

#content {
	display: block;
}

#sidebar {
	display: table-cell;
	width: 300px;
	border-left: 1px solid black;
	padding-left: 4px;
}

a {
	border: 1px solid black;
	border-radius: 3px;
	margin: 2px;
	cursor: pointer;
}

.gridCell:hover {
	border-color: black;
}

.gridCell {
	display: inline-block;
	width: 150px;
	height: 150px;
	border:2px solid #518;
	margin: 5px;
	margin-top: 10px;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
}